openapi: 3.0.3

info:
  description: |
    
    ## Introduction
    
    Our set of REST-based APIs enable seamless integration of Finario directly into your internal workflows, products and services. The API uses JSON over HTTPS to allow you to build secure applications capable of using or adding Finario data in your application, and vice-versa.
    
    > Please note, API access is available in various editions, so please contact your Finario account manager for more information.

    This API is built and documented using [OpenAPI 3.0.3](https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.0.3.md). In addition to standard OpenAPI syntax we use a few vendor extensions to improve compatibility with tooling and documentation.
    
    ## Development Workflow
    
    Developing integrations using the Finario API is easy and the workflow relatively straight-forward. You will need to perform the following:
    
    1. Ensure you have a Finario account.
    2. Familiarize yourself with the API **[Endpoints](#tag/Approvals)** and **[Webhooks](#tag/Webhooks)**.
    3. Familiarize yourself with the [headers required](#section/Required-Headers) to be sent with each request. 
    4. Familiarize yourself with [how to authenticate](#section/Authentication) when using the API.
    5. [Generate](#section/Authentication/ApiToken) your API Token.
    6. Start using the API, either in your code or via your tooling of choice.
    
    ### Development & Testing Tools
    
    There are many different tools that can be used for developing and testing APIs. If you're experienced, we'd imagine you've seen them all. If you have your own preference, feel free to use that. If your existing toolchain comes with some form of HTTP client and that's what you're familiar with, feel free to stick with that.
    
    However, for completeness, below we provide some links to tooling that we use and would recommend when building and testing APIs.
    
    You can [import this specification](/api-1.1.1.yaml) into an API testing tool such as **Postman** or **Paw**. You can also use command-line tools such as **curl**, **wget** or **httpie**. By using tools such as Postman or Paw, you will be able to genereate code stubs for a variety of popular languages to speed your development and testing efforts.
    
    - [Postman](https://www.postman.com) | [Paw](https://paw.cloud) | [curl](https://curl.se) | [wget](https://www.gnu.org/software/wget/) | [httpie](https://httpie.io)

    ## Download the API Spec
    
    **[Download](/api-1.1.1.yaml)** version 1.1.1 of the specification for use in your chosen API development and testing tools.
    
    - For versions 1.0 and earlier, please see this [GitHub repository](https://github.com/finarioapp/api).
    
    ## URLs
    
    The current version of the API is `1.1`. As such the following base URLs are in use (please notice the postfix of the version number to the URL):
    
    | <div style="width:130px">Environment</div> | Base URL |
    | ---------------- | --- |
    | Sandbox    | `https://api-sandbox.finario.com` |
    | Production | `https://api.finario.com` |
    
    ## Required Headers
    
    ### Request
    
    This API requires you to send the following three headers, at a minimum, as part of each HTTP request:
    
    | <div style="width:130px">Header Name</div> | Description |
    | ---------------- | --- |
    | `content-type`   | Must be `application/json`. |
    | `x-api-token`    | As described in the [Authentication](#section/Authentication/ApiToken) section below. |
    | `x-finario-host` | The Finario host name that you use to login to your Finario app. For example, if you login to the Finario app at `example-co.finario.com`, then your `x-finario-host` will be `example-co`. |
    
    ### Response
    
    To receive a valid HTTP response, your API must be able to accept `application/json` as a response media type.
    
    ### CORS
    
    This API features Cross-Origin Resource Sharing (CORS) implemented in compliance with the [W3C spec](https://www.w3.org/TR/cors/). And that allows cross-domain communication from the browser. All responses have a wildcard same-origin which makes them completely public and accessible to everyone, including any code on any site.
    
    ## Example Request
    
    To show a list of users on your account using the popular `curl` or `httpie` command-line tools:
    
    > Remember to replace the `x-api-token` and `x-finario-host` with appropriate values for your setup:

    ```shell    
    curl --request GET \
      --url https://api-sandbox.finario.com/1.1/users \ 
      --header 'content-type: application/json' \
      --header 'x-api-token: <your-api-token>' \
      --header 'x-finario-host: <your-finario-instance-name>'
    ```
    
    ```shell
    http https://api-sandbox.finario.com/1.1/users \
      content-type:application/json \
      x-api-token:<your-api-token> \
      x-finario-host:<your-finario-instance-name>
    ```
    
  title: Finario API
  version: v1.1
  x-logo:
    altText: 'Finario API'
    backgroundColor: '#FFFFFF'
    href: '/'
    url: '/img/logo.png'

servers:
  - url: 'https://api-sandbox.finario.com'
    description: Sandbox URL
  - url: 'https://api.finario.com'
    description: Production URL

tags:
  - name: Payments
    description: |
      Allow Payment Creation via API for Closed Investments

      If enabled in your Finario site configuration, payments can be created via the API for closed investments
x-tagGroups:
  - name: Enpoints
    tags:
      - Approvals
      - Budgets
      - Cost Categories
      - Costs
      - Forecasts
      - Investments
      - Invoices
      - Organizations
      - Payments
      - Purchase Orders
      - Users
      - Vendors
  - name: Events
    tags:
      - Webhooks

paths:
  '/{version}/investments/{investment_id}/approvals':
    post:
      description: This operation will submit the investment to the first approver in the approval list. It changes the investment's status from **Idea** to **Pending**.
      operationId: CreateApproval
      parameters:
        - $ref: '#/components/parameters/FinarioHost'
        - $ref: '#/components/parameters/InvestmentId'
        - $ref: '#/components/parameters/Version1.1'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Approval'
        '404':
          description: Investment or Approval not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageObjectOne'
      summary: Create an Approval
      #tags:
        #- Approvals

  '/investments/{investment_id}/approvals/{approval_id}':
    get:
      description: Retrieve approval details of an investment.
      operationId: GetApproval
      parameters:
        - $ref: '#/components/parameters/FinarioHost'
        - $ref: '#/components/parameters/InvestmentId'
        - $ref: '#/components/parameters/ApprovalId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApprovalPayload'
        description: The unique identifier of the approver.
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Approval'
        '404':
          description: Investment or Approval not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageObjectOne'
      summary: Get an Approval
      #tags:
        #- Approvals

  '/{version}/cost_categories':
    get:
      description: |
        Returns a list of all cost categories.

        _This endpoint does not support pagination._
      operationId: GetCostCategories
      parameters:
        - $ref: '#/components/parameters/FinarioHost'
        - $ref: '#/components/parameters/Version1.1'
      responses:
        '200':
          description: An array of cost categories or an empty list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CostCategory'
      summary: List Cost Categories
      tags:
        - Cost Categories
    post:
      description: Create a new cost category.
      operationId: CreateCostCategory
      parameters:
        - $ref: '#/components/parameters/FinarioHost'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CostCategoryPostPut'
        description: The new Cost Category to create.
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostCategory'
          description: Successfully created.
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageArrayOne'
          description: Missing required fields.
      summary: Create a Cost Category
      tags:
        - Cost Categories

  '/{version}/cost_categories/{cost_category_id}':
    put:
      description: Update an existing cost category
      operationId: UpdateCostCategory
      parameters:
        - $ref: '#/components/parameters/FinarioHost'
        - $ref: '#/components/parameters/CostCategoryId'
        - $ref: '#/components/parameters/Version1.1'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CostCategoryPostPut'
        description: The Cost Category details to update.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostCategory'
          description: Successfully updated.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageObjectThree'
          description: Cost Category not found.
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageArrayOne'
          description: Missing required fields.
      summary: Update a Cost Category
      tags:
        - Cost Categories

  '/{version}/investments/{investment_id}/costs':
    get:
      description: Returns a list of all costs for a given investment.
      operationId: GetCosts
      parameters:
        - $ref: '#/components/parameters/FinarioHost'
        - $ref: '#/components/parameters/InvestmentId'
        - $ref: '#/components/parameters/Version1.1'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostsGet'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageObjectOne'
      summary: List Costs
      tags:
        - Costs
    post:
      description: Add a new Cost to an investment
      operationId: CreateCost
      parameters:
        - $ref: '#/components/parameters/FinarioHost'
        - $ref: '#/components/parameters/InvestmentId'
      requestBody:
        description: >
          <strong>Required Parameters.</strong> <br/> name, account,
          expected_units
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CostPostPut'
        required: true
      responses:
        '201':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Costs'
        '404':
          description: Investment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageObjectOne'
        '406':
          description: Account not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageObjectThree'
        '422':
          description: Missing required field
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageObjectTwo'
      summary: Create a Cost
      tags:
        - Costs

  '/{version}/investments/{investment_id}/costs/{cost_id}':
    get:
      description: Retrieve cost details of an investment
      operationId: GetCost
      parameters:
        - $ref: '#/components/parameters/FinarioHost'
        - $ref: '#/components/parameters/InvestmentId'
        - $ref: '#/components/parameters/CostId'
        - $ref: '#/components/parameters/Version1.1'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Costs'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageObjectThree'
      summary: Get a Cost
      tags:
        - Costs

  '/{version}/investments':
    get:
      description: Retrieve list of investments
      operationId: GetInvestments
      parameters:
        - $ref: '#/components/parameters/FinarioHost'
        - $ref: '#/components/parameters/Version1.1'
        - name: page
          in: query
          description: Returns a page of 100 investments at a time. Pass the next integer increment to get the next page of 100 investments.
          required: false
          example: 1
          style: form
          explode: true
          schema:
            type: integer
        - name: start_month
          in: query
          description: Investments with spend starting in 2013. Should be used with start_month.
          required: false
          style: form
          explode: true
          schema:
            type: integer
        - name: start_year
          in: query
          description: Investments with spend starting in 2013. Should be used with start_month.
          required: false
          style: form
          explode: true
          schema:
            type: integer
        - name: end_month
          in: query
          description: Investments with spend in or before June. Should be used with end_year.
          required: false
          style: form
          explode: true
          schema:
            type: integer
        - name: end_year
          in: query
          description: Investments with spend in or before 2014. Should be used with end_month.
          required: false
          style: form
          explode: true
          schema:
            type: integer
        - name: keywords
          in: query
          description: Investments that have both of the keywords 'one' AND 'two' (not OR). Multiple keywords should be separated by commas.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: organization
          in: query
          description: Investments in the "Asia" organization. The param must match the organization's display name or organization code(including capitalization and spaces).
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: categories
          in: query
          description: Investments in the "Foo" category. The param must match the category's display name (including capitalization and spaces). Multiple investment categories can be used like so &categories[]=Baz&categories[]=Foo.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: size_range
          in: query
          description: Investments with more than 1 million dollars in spends. (Yes, that is a comma). Only 'greater than' ranges defined in Approval Routes are valid. Ranges with lower and upper bounds can be defined like so greater_than,$500k-less_than,$1M.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: rounds
          in: query
          description: Investments that are fully approved. Other values '"Idea",' "Closed", "Denied", "Invalidated", "Pending", "Remanded", or the name of an approval round will return all investments currently in that round.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: budgeted_status
          in: query
          description: Investments that have been added to a budget. The only other possible value is unbudgeted.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: vendor
          in: query
          description: Investments with the vendor "Amazon" associated with any of the investment's costs. The value should match the Vendor's display name (including capitalization and spaces).
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: approved_before
          in: query
          description: Investments that were approved before the given date. Use with approved_after if selecting investments in a range of dates. Must follow year-month-date format.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: approved_after
          in: query
          description: Investments that were approved after the given date. Use with approved_before if selsecting investments in a range of dates. Must follow year-month-date format.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: x Custom Fields
          in: query
          description: Custom fields will only be optional parameters if they are turned on within your account. If you're unsure, ask your account manager whether or not you have access to custom fields. Custom fields are formatted with a `c_` proceeding whatever you've named the custom field. The example `c_Funding=Cash` will take you to the investments where the custom field **Funding** is set to **Cash** Parameter keys and values should match what you've defined in your custom fields.
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Investments'
      summary: List Investments
      tags:
        - Investments
    post:
      description: Create a new investment
      operationId: CreateInvestment
      parameters:
        - $ref: '#/components/parameters/FinarioHost'
      requestBody:
        description: Acceptable Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvestmentPostPut'
        required: true
      responses:
        '201':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvestmentsPostPut'
        '404':
          description: Organization Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageObjectThree'
        '422':
          description: Missing required fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageObjectThree'
      summary: Create an Investment
      tags:
        - Investments

  '/{version}/investments/{investment_id}':
    get:
      description: Retrieve an investment
      operationId: GetInvestment
      parameters:
        - $ref: '#/components/parameters/FinarioHost'
        - $ref: '#/components/parameters/InvestmentId'
        - $ref: '#/components/parameters/Version1.1'
        - name: start_month
          in: query
          description: Investments with spend starting in 2013. Should be used with start_month.
          required: false
          style: form
          explode: true
          schema:
            type: integer
        - name: start_year
          in: query
          description: Investments with spend starting in 2013. Should be used with start_month.
          required: false
          style: form
          explode: true
          schema:
            type: integer
        - name: end_month
          in: query
          description: Investments with spend in or before June. Should be used with end_year.
          required: false
          style: form
          explode: true
          schema:
            type: integer
        - name: end_year
          in: query
          description: Investments with spend in or before 2014. Should be used with end_month.
          required: false
          style: form
          explode: true
          schema:
            type: integer
        - name: keywords
          in: query
          description: Investments that have both of the keywords 'one' AND 'two' (not OR). Multiple keywords should be separated by commas.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: organization
          in: query
          description: Investments in the "Asia" organization. The param must match the organization's display name or organization code(including capitalization and spaces).
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: categories
          in: query
          description: Investments in the "Foo" category. The param must match the category's display name (including capitalization and spaces). Multiple investment categories can be used like so &categories[]=Baz&categories[]=Foo.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: size_range
          in: query
          description: Investments with more than 1 million dollars in spends. (Yes, that is a comma). Only 'greater than' ranges defined in Approval Routes are valid. Ranges with lower and upper bounds can be defined like so greater_than,$500k-less_than,$1M.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: rounds
          in: query
          description: Investments that are fully approved. Other values '"Idea",' "Closed", "Denied", "Invalidated", "Pending", "Remanded", or the name of an approval round will return all investments currently in that round.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: budgeted_status
          in: query
          description: Investments that have been added to a budget. The only other possible value is unbudgeted.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: vendor
          in: query
          description: Investments with the vendor "Amazon" associated with any of the investment's costs. The value should match the Vendor's display name (including capitalization and spaces).
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: approved_before
          in: query
          description: Investments that were approved before the given date. Use with approved_after if selecting investments in a range of dates. Must follow year-month-date format.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: approved_after
          in: query
          description: Investments that were approved after the given date. Use with approved_before if selsecting investments in a range of dates. Must follow year-month-date format.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: Custom Fields
          in: query
          description: See custom fields for more information. Custom fields will only be optional parameters if they are turned on within your account. If you're unsure, ask your account manager whether or not you have access to custom fields.Custom fields are formatted with a c_ proceeding whatever you've named the custom field. The examplec_Funding=Cash will take you to the investments where the custom field "Funding" is set to "Cash' Parameter keys and values should match what you've defined in your custom fields
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Investment'
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageObjectOne'
          description: Cost Category not found.
      summary: Get an Investment
      tags:
        - Investments
    put:
      description: Update an existing investment
      operationId: UpdateInvestment
      parameters:
        - $ref: '#/components/parameters/FinarioHost'
        - $ref: '#/components/parameters/InvestmentId'
      requestBody:
        description: Acceptable Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvestmentPostPut'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvestmentsPostPut'
        '422':
          description: Organization Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageObjectThree'
      summary: Update an Investment
      tags:
        - Investments

  '/{version}/invoices':
    get:
      description: |
        Retrieve list of invoices.

        _This endpoint does not support pagination._

        #### Query Parameters

        These query parameters apply to the Investment the Invoices are
        assigned to. If an Invoice is not assigned to an Investment, it will
        not be returned while using these params.

        All values should be encoded for URL; for example:

        `closed=true&closed_within_days_ago=10`
      operationId: GetInvoices
      parameters:
        - $ref: '#/components/parameters/FinarioHost'
        - $ref: '#/components/parameters/Version1.1'
        - name: closed
          in: query
          description: Returns Invoices assigned to Investments that are closed. Use closed=false to return Invoices assigned to open Investments.
          required: false
          style: form
          explode: true
          schema:
            type: boolean
          example: true
        - name: closed_within_days_ago
          in: query
          description: Takes an integer value, x. Returns Invoices assigned to Investments that were closed in the last x days.
          required: false
          style: form
          explode: true
          schema:
            type: number
          example: 30
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesGetAll'
        '404':
          description: Not Found
      summary: List Invoices
      tags:
        - Invoices

  '/{version}/invoices/{invoice_id}':
    get:
      description: Retrieve an invoice details.
      operationId: GetInvoice
      parameters:
        - $ref: '#/components/parameters/FinarioHost'
        - $ref: '#/components/parameters/InvoiceId'
        - $ref: '#/components/parameters/Version1.1'
        - name: vendor_id
          description: The unique identifier for the Vendor
          in: query
          required: true
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoices'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageObjectOne'
      summary: Get an Invoice
      tags:
        - Invoices

  '/{version}/investments/{investment_id}/vendors/{vendor_id}/invoices':
    post:
      description: Create an invoice made by the vendor against an investment.
      operationId: CreateInvoice
      parameters:
        - $ref: '#/components/parameters/FinarioHost'
        - $ref: '#/components/parameters/InvestmentId'
        - $ref: '#/components/parameters/VendorId'
        - $ref: '#/components/parameters/Version1.1'
      requestBody:
        description: 'Required Parameters <br/> amount, date, number'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoicePostPut'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoices'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageObjectOne'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageArrayTwo'
      summary: Create an Invoice
      tags:
        - Invoices

  '/{version}/investments/{investment_id}/vendors/{vendor_id}/invoices/{invoice_id}':
    put:
      description: Update an existing invoice.
      operationId: UpdateInvoiceById
      parameters:
        - $ref: '#/components/parameters/FinarioHost'
        - $ref: '#/components/parameters/InvestmentId'
        - $ref: '#/components/parameters/VendorId'
        - $ref: '#/components/parameters/InvoiceId'
        - $ref: '#/components/parameters/Version1.1'
      requestBody:
        description: 'Required Parameters <br/> amount, date, number'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoicePostPut'
      responses:
        '204':
          description: No Content
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageObjectOne'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageArrayTwo'
      summary: Update an Invoice by ID
      tags:
        - Invoices

#  '/investments/{investment_id}/vendors/{vendor_id}/invoices/{invoice_reference}':
#    put:
#      description: Update an existing invoice
#      operationId: UpdateInvoiceByRef
#      parameters:
##        - $ref: '#/components/parameters/FinarioHost'
#        - $ref: '#/components/parameters/InvestmentId'
#        - $ref: '#/components/parameters/VendorId'
#        - $ref: '#/components/parameters/InvoiceReference'
#      requestBody:
#        description: 'Required Parameters <br/> amount, date, number'
#        content:
#          application/json:
#            schema:
#              $ref: '#/components/schemas/InvoicePostPut'
#      responses:
#        '204':
#          description: No Content
#        '404':
#          description: Not found
#          content:
#            application/json:
#              schema:
#                $ref: '#/components/schemas/ErrorMessageObjectOne'
#        '422':
#          description: Unprocessable Entity
#          content:
#            application/json:
#              schema:
#                $ref: '#/components/schemas/ErrorMessageObjectOne'
#      summary: Update an Invoice by Ref.
#      tags:
#        - Invoices

  '/{version}/organizations':
    get:
      description: Returns a list of all Organizations.
      operationId: GetOrganizations
      parameters:
        - $ref: '#/components/parameters/FinarioHost'
        - $ref: '#/components/parameters/Version1.1'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organizations'
      summary: List Organizations
      tags:
        - Organizations
  
  '/{version}/{organization_id}/organizations':
    post:
      description: |
        Create new organization.

        An {organization_id} is required in the URL. A top-level organization
        cannot be created through the API.
      operationId: CreateOrganization
      parameters:
        - $ref: '#/components/parameters/FinarioHost'
        - $ref: '#/components/parameters/OrganizationId'
        - $ref: '#/components/parameters/Version1.1'
      requestBody:
        description: <strong>Required Parameters.</strong> <br/> name, org_code
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationPostPut'
        required: true
      responses:
        '201':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationPosts'
        '404':
          description: Parent org not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageArrayOne'
        '406':
          description: Missing required fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageObjectThree'
      summary: Create an Organization
      tags:
        - Organizations

  '/{version}/{organization_id}/budgets/{year}':
    get:
      description: Returns Budget data at an organization level 
      parameters:
        - $ref: '#/components/parameters/FinarioHost'
        - $ref: '#/components/parameters/OrganizationId'
        - $ref: '#/components/parameters/Year'
        - $ref: '#/components/parameters/Version1.1'
      responses:
        '200':
          description: Success     
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetsOrganization'
      summary: List Budgets at Organization level
      tags:
        - Budgets
        - Organizations
    
  '/{version}/{organization_id}/budgets/{year}/investments':
    get:
      description: Returns Budget data at an Investment level 
      parameters:
        - $ref: '#/components/parameters/FinarioHost'
        - $ref: '#/components/parameters/OrganizationId'
        - $ref: '#/components/parameters/Year'
        - $ref: '#/components/parameters/Version1.1'
        - name: investment_category
          in: query
          description:  Returns all investments that are assigned to that category.
          required: false
          style: form
          explode: true
          schema:
            type: string
          example: Capacity Expansion
      responses:
        '200':
          description: Success     
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetsInvestment'
      summary: List Budget data at an Investment level
      tags:
        - Budgets
        - Investments
  
  '/{version}/{organization_id}/forecasts/{year}/investments':
    get:
      description: Returns Forecast data at an investment level 
      parameters:
        - $ref: '#/components/parameters/FinarioHost'
        - $ref: '#/components/parameters/OrganizationId'
        - $ref: '#/components/parameters/Year'
        - $ref: '#/components/parameters/Version1.1'
        - name: investment_category
          in: query
          description:  Returns all investments that are assigned to that category.
          required: false
          style: form
          explode: true
          schema:
            type: string
          example: Capacity Expansion
      responses:
        '200':
          description: Success     
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetsInvestment'
      summary: List  Forecast data at an investment level
      tags:
        - Forecasts
        - Investments

  '/{version}/{organization_id}/forecasts/{year}':
    get:
      description: Returns Forecasts data at an organization level 
      parameters:
        - $ref: '#/components/parameters/FinarioHost'
        - $ref: '#/components/parameters/OrganizationId'
        - $ref: '#/components/parameters/Year'
        - $ref: '#/components/parameters/Version1.1'
      responses:
        '200':
          description: Success     
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForecastsOrganization'
      summary: List Forecasts at Organization level
      tags:
        - Forecasts
        - Organizations

  '/{version}/payments':
    get:
      description: |
        Retrieve list of payments

        _This endpoint does not support pagination._

        #### Query Parameters

        These query parameters apply to the Investment the Payments are
        assigned to. If a Payment is not assigned to an Investment, it will
        not be returned while using these params.

        All values should be encoded for URL; for example:

        `closed=true&closed_within_days_ago=10`.
      operationId: GetPayments
      parameters:
        - $ref: '#/components/parameters/FinarioHost'
        - $ref: '#/components/parameters/Version1.1'
        - name: closed
          in: query
          description: Returns Payments assigned to Investments that are closed. Use closed=false to return Payments assigned to open Investments.
          required: false
          style: form
          explode: true
          schema:
            type: boolean
          example: true
        - name: closed_within_days_ago
          in: query
          description: Takes an integer value, x. Returns Payments assigned to Investments that were closed in the last x days.
          required: false
          style: form
          explode: true
          schema:
            type: number
          example: 30
        - name: payments_after
          in: query
          description: |
            Returns a set of Payments that are equal to or newer than the date passed into the parameter. The date must follow the `year-month-date` format.
            
            Example: payments_after=2022-03-20  should return anything dated from March 20th until the present day. Creates an inclusive date range if used with payments_before.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: payments_before
          in: query
          description: |
            Returns a set of Payments that are equal to or older than the date passed into the parameter. The date must follow the year-month-date format.
            
            Example: payments_before=2022-04-20  should return anything dated from April 20th and earlier
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payments'
        '404':
          description: Not Found
      summary: List Payments
      tags:
        - Payments
    post:
      description: Create new payment
      operationId: CreatePayment
      parameters:
        - $ref: '#/components/parameters/FinarioHost'
      requestBody:
        description: 'Required Parameters <br/> amount, date, reference,'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentPostPut'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '404':
          description: Unmatched Unique Cost ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageObjectOne'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageObjectOne'
      summary: Create a Payment
      tags:
        - Payments

  '/{version}/investments/{investment_id}/costs/{cost_id}/payments':
    post:
      description: Create payment against an existing investment cost
      operationId: CreatePaymentByCost
      parameters:
        - $ref: '#/components/parameters/FinarioHost'
        - $ref: '#/components/parameters/InvestmentId'
        - $ref: '#/components/parameters/CostId'
        - $ref: '#/components/parameters/Version1.1'
      requestBody:
        description: 'Required Parameters <br/> amount, date, reference,'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentPostPut'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '404':
          description: Unmatched Unique Cost ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageObjectOne'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageObjectOne'
      summary: Create a Payment by Cost
      tags:
        - Payments

  '/{version}/investments/{investment_id}/payments':
    post:
      description: Create payment against an investment
      operationId: CreatePaymentByInvestment
      parameters:
        - $ref: '#/components/parameters/FinarioHost'
        - $ref: '#/components/parameters/InvestmentId'
        - $ref: '#/components/parameters/Version1.1'
        - name: unique_cost_id
          description: The unique cost id
          in: query
          required: true
          style: form
          explode: true
          schema:
            type: string
      requestBody:
        description: 'Required Parameters <br/> amount, date, reference,'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentPostPut'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '404':
          description: Unmatched Unique Cost ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageObjectOne'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageObjectOne'
      summary: Create a Payment by Investment
      tags:
        - Payments

  '/{version}/payments/{payment_id}':
    get:
      description: Retrieve payment details
      operationId: GetPayment
      parameters:
        - $ref: '#/components/parameters/FinarioHost'
        - $ref: '#/components/parameters/PaymentId'
        - $ref: '#/components/parameters/Version1.1'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageObjectOne'
      summary: Get a Payment
      tags:
        - Payments

  '/{version}/investments/{investment_id}/payments/{payment_id}':
    put:
      description: Update an existing payment details
      operationId: UpdatePayment
      parameters:
        - $ref: '#/components/parameters/FinarioHost'
        - $ref: '#/components/parameters/InvestmentId'
        - $ref: '#/components/parameters/PaymentId'
        - $ref: '#/components/parameters/Version1.1'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentPostPut'
      responses:
        '204':
          description: No Content
        '404':
          description: Investment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageObjectOne'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageObjectOne'
      summary: Update a Payment
      tags:
        - Payments

  '/{version}/purchase_orders':
    get:
      description: |
        Retrieve list of purchase orders.

        _This endpoint does not support pagination._

        #### Query Parameters

        These query parameters apply to the Investment the Purchase Orders
        are assigned to. If a Purchase Order is not assigned to an Investment,
        it will not be returned while using these params.

        All values should be encoded for URL; for example:

        `closed=true&closed_within_days_ago=10`.
      operationId: GetPurchaseOrders
      parameters:
        - $ref: '#/components/parameters/FinarioHost'
        - $ref: '#/components/parameters/Version1.1'
        - name: closed
          in: query
          description: Returns Purchase Orders assigned to Investments that are closed. Use closed=false to return PO's assigned to open Investments.
          required: false
          style: form
          explode: true
          schema:
            type: boolean
        - name: closed_within_days_ago
          in: query
          description: Takes an integer value, x. Returns Purchase Orders assigned to Investments that were closed in the last x days.
          required: false
          style: form
          explode: true
          schema:
            type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseOrders'
      summary: List Purchase Orders
      tags:
        - Purchase Orders

  '/{version}/purchase_orders/{purchase_order_id}':
    get:
      description: Retrieve purchase order details
      operationId: GetPurchaseOrder
      parameters:
        - $ref: '#/components/parameters/FinarioHost'
        - $ref: '#/components/parameters/PurchaseOrderId'
        - $ref: '#/components/parameters/Version1.1'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseOrders'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageObjectThree'
      summary: Get a Purchase Order
      tags:
        - Purchase Orders

  '/{version}/investments/{investment_id}/purchase_orders':
    post:
      description: Create a purchase order against an investment
      operationId: CreatePurchaseOrder
      parameters:
        - $ref: '#/components/parameters/FinarioHost'
        - $ref: '#/components/parameters/InvestmentId'
        - $ref: '#/components/parameters/Version1.1'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseOrderPostPut'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseOrderPostPutResponse'
        '404':
          description: Investment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageObjectOne'
        '422':
          description: Missing required fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageArrayTwo'
      summary: Create a Purchase Order
      tags:
        - Purchase Orders

  '/{version}/investments/{investment_id}/purchase_orders/{purchase_order_id}':
    put:
      description: Update an existing purchase order details of an investment
      operationId: UpdatePurchaseOrder
      parameters:
        - $ref: '#/components/parameters/FinarioHost'
        - $ref: '#/components/parameters/InvestmentId'
        - $ref: '#/components/parameters/PurchaseOrderId'
        - $ref: '#/components/parameters/Version1.1'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseOrderPostPut'
      responses:
        '204':
          description: No Content
        '404':
          description: Investment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageObjectOne'
        '422':
          description: Missing required fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageObjectOne'
      summary: Update a Purchase Order
      tags:
        - Purchase Orders

  '/1.1/users':
    get:
      description: Retrieve list of users
      operationId: GetUsers
      parameters:
        - $ref: '#/components/parameters/FinarioHost'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Users'
        '404':
          description: Not Found
      summary: List Users (1.1)
      tags:
        - Users
  
  '/1.2/users':
    get:
      description: Retrieve list of users
      operationId: GetUsersV1.2
      parameters:
        - $ref: '#/components/parameters/FinarioHost'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersV1.2'
        '404':
          description: Not Found
      summary: List Users (1.2)
      tags:
        - Users

  '/{version}/users/{user_email}':
    get:
      description: Retrieve user details
      operationId: GetUser
      parameters:
        - $ref: '#/components/parameters/FinarioHost'
        - $ref: '#/components/parameters/UserEmail'
        - $ref: '#/components/parameters/Version1.2'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Users'
                  - $ref: '#/components/schemas/UsersV1.2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageObjectOne'
      summary: Get a User
      tags:
        - Users
    put:
      description: Create a new user, or update an existing user (aka upsert).
      operationId: CreateOrUpdateUser
      parameters:
        - $ref: '#/components/parameters/FinarioHost'
        - $ref: '#/components/parameters/UserEmail'
        - $ref: '#/components/parameters/Version1.2'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserPostPut'
      responses:
        '204':
          description: No Content
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageObjectTwo'
      summary: Create or Update a User
      tags:
        - Users

  '/{version}/vendors':
    get:
      description: Returns a list of all Vendors.
      operationId: GetVendors
      parameters:
        - $ref: '#/components/parameters/FinarioHost'
        - $ref: '#/components/parameters/Version1.1'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vendors'
        '404':
          description: Not Found
      summary: List Vendors
      tags:
        - Vendors
    post:
      description: Create new vendor
      operationId: CreateVendor
      parameters:
        - $ref: '#/components/parameters/FinarioHost'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VendorPostPut'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vendors'
        '422':
          description: Missing required field / Duplicate vendor_id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageObjectTwo'
      summary: Create a Vendor
      tags:
        - Vendors

  '/{version}/vendors/{vendor_id}':
    put:
      description: Update an existing vendor
      operationId: UpdateVendor
      parameters:
        - $ref: '#/components/parameters/FinarioHost'
        - $ref: '#/components/parameters/VendorId'
        - $ref: '#/components/parameters/Version1.1'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VendorPostPut'
      responses:
        '204':
          description: No Content
        '422':
          description: Missing required field
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageObjectOne'
      summary: Update a Vendor
      tags:
        - Vendors

components:
  parameters:

    FinarioHost:
      description: The host name you use to login to your Finario app. See [Required Headers](#section/Required-Headers) for more information.
      in: header
      name: x-finario-host
      required: true
      schema:
        type: string

    ApprovalId:
      description: The unique identifier for the Approval
      in: path
      name: approval_id
      required: true
      style: simple
      explode: false
      schema:
        type: string

    CostCategoryId:
      description: The unique identifier for the Cost Category.
      in: path
      name: cost_category_id
      required: true
      style: simple
      explode: false
      schema:
        type: string

    CostId:
      description: The unique identifier for the Cost
      in: path
      name: cost_id
      required: true
      style: simple
      explode: false
      schema:
        type: string

    InvestmentId:
      description: A unique ID from your external system. This is saved as the "Investment Code" in Finario, and can be used as a resource identifier for other API endpoints.
      in: path
      name: investment_id
      required: true
      style: simple
      explode: false
      schema:
        type: string

    InvoiceId:
      description: The unique identifier for the Invoice
      in: path
      name: invoice_id
      required: true
      style: simple
      explode: false
      schema:
        type: string

    InvoiceReference:
      description: The reference of an invoice
      in: path
      name: invoice_reference
      required: true
      style: simple
      explode: false
      schema:
        type: string

    OrganizationId:
      description: The unique identifier for the Organization
      in: path
      name: organization_id
      required: true
      style: simple
      explode: false
      schema:
        type: string

    PaymentId:
      description: The unique identifier for the Payment
      in: path
      name: payment_id
      required: true
      style: simple
      explode: false
      schema:
        type: string

    PurchaseOrderId:
      description: The unique identifier for the Purchase Order
      in: path
      name: purchase_order_id
      required: true
      style: simple
      explode: false
      schema:
        type: string

    UserEmail:
      description: The email address of the user
      in: path
      name: user_email
      required: true
      style: simple
      explode: false
      schema:
        type: string

    VendorId:
      description: The unique identifier for the Vendor
      in: path
      name: vendor_id
      required: true
      style: simple
      explode: false
      schema:
        type: string

    Year:
      description: The fiscal year
      in: path
      name: year
      required: true
      style: simple
      explode: false
      schema:
        type: string

    Version1.1:
      name: version
      in: path
      description: "API version available is 1.1"
      required: true
      schema:
        type: string
        enum:
          - "1.1"
      
    Version1.2:
      name: version
      in: path
      description: "API version available are 1.1 and 1.2"
      required: true
      schema:
        type: string
        enum:
          - "1.1"
          - "1.2"

  schemas:
    AnyValue: {}

    PostApprovalWebhook:
      type: object
      properties:
        investment:
          type: object
          properties:
            actual_spends:
              description: |
                The actual spend for the Cost.
                
                Each item is represented as an array of mixed-type:  
                
                  ```json 
                  [
                    {
                      "cents": 75500000, 
                      "currency": "USD" 
                    },
                    [
                      2022, 
                      5    
                    ]
                  ]
              type: array
              items:
                type: array
                items: {}
            api_request:
              description: Will always be true - indicates that the payload was generated by an API request.
              type: boolean
            approved_amount_base_currency:
              description: The investment's default currency.
              type: string
            approved_amount_base_currency_amount:
              description: The approved estimate in the investment's default currency.
              type: string
            approved_amount_org_currency:
              description: The organization's default currency.
              type: string
            approved_amount_org_currency_amount:
              description: The approved estimate in the organization's default currency.
              type: string
            approved_at:
              type: string
              description: When the investment was approved	time.
            as_of_date:
              description: Time when report was generated (will always be current time).
              type: string
            budgeted_amount:
              description: The budgeted amount of the investment.
              type: string
            budgeted_status: 
              description: The budgeted status. e.g., budgeted, unbudgeted
              type: string
            costs:
              description: Costs associated with the investment array of cost hashes - see below for contents of cost hashes within array.
              type: array
              items:
                type: object
                properties:
                  account:
                    description: Name or code of account.
                    type: string
                  account_code:
                    description: Unique code of the account.
                    type: string
                  cost_category:
                    description: Cost category name.
                    type: string
                  expected_units:
                    description: Cost data.
                    type: array
                    items:
                      type: object
                      properties:
                        date:
                          description: Expected unit's entry date.
                          type: array
                          items:
                            type: number
                        quantity:
                          description: Expected unit's entry date.
                          type: string
                        unit_cost:
                          description: Cost amount.
                          type: object
                          properties:
                            cents:
                              type: number
                            currency:
                              type: string
                  name:
                    description: Name of cost.
                    type: string
                  unique_cost_id:
                    description: Unique id assigned to cost.
                    type: string
                  vendor:
                    description: Vendor code.
                    type: string
                  vendor_code:
                    description: All codes for a given vendor.
                    type: array
                    items: {}
                    example: ["all-codes", "for-a", "given-vendor"] 
                  vendor_name:
                    description: Name of the Vendor.
                    type: string
            costs_path:
              description: The investment's costs' API URL.
              type: string
            custom_field_values:
              description: Pre-defined custom fields.
              type: string
            errors:
              description: Any errors returned during the request.
              type: string
            estimated_completion_date:
              description: The investment's estimated completion date
              type: array
              items:
                type: number
            forecast_spends:
              description: |
                The forecast spends for the Cost.

                Each item is represented as an array of mixed-type:  
                
                  ```json 
                  [
                    {
                      "cents": 50000000, 
                      "currency": "USD" 
                    },
                    [
                      2022,    
                      9     
                    ]
                  ],
                  [
                    {
                      "cents": 50000000, 
                      "currency": "USD" 
                    },
                    [
                      2022,    
                      11      
                    ]
                  ]
              type: array
              items:
                type: array
                items: {}
            host:
              description: The Finario App host name
              type: string
            investment_category_name:
              description: The investment's category's name.
              type: string
            investment_id:
              description: The investment's id.
              type: string
            investment_path:
              description: The investment's API URL.
              type: string
            in_service_date:
              description: The investment's in service date.
              type: array
              items: {}
            name:
              description: The investment's name.
              type: string
            npv:
              description: The investment's npv.
              type: string
            organization_code:
              description: The organization's unique code.
              type: string
            organization_name:
              description: The organization's name.
              type: string
            owner:
              description: The investment owner's ID.
              type: string
            owner_email:
              description: The investment owner's email.
              type: string
            payback:
              description: The investment payback.
              type: string
            pi:
              description: The investment pi.
              type: string
            project_start:
              description: The investment's project start date.
              type: array
              items:
                type: number
            web_hook_user_fields:
              description: Custom list of users associated with the webhook
              type: string

    Approval:
      type: object
      properties:
        approval_round_id:
          description: The approval round id.
          type: string
        approval_round_name_cache:
          description: The name of round this approval belongs to.
          type: string
        approver_first_name_cache:
          description: The first name of approver.
          type: string
        approver_last_name_cache:
          description: The last name of approver.
          type: string
        approver_id:
          description: The user id of approver.
          type: string
        authority_ids:
          description: The authority ids of approver.
          type: array
          items:
            type: string
        authority_names:
          description: The authority names of approver.
          type: array
          items:
            type: string
        created_at:
          description: The timestamp when the approval is created.
          type: string
          format: date-time
        creator_id:
          description: The user id of approval creator.
          type: string
        force_approved:
          description: The force approved status.
          type: boolean
        id:
          description: The unique identifier for the Approval.
          type: string
        investment_id:
          description: The unique identifier for the Investment.
          type: string
        organization_id:
          description: The unique identifier for the Organization.
          type: string
        latest_comment_id:
          description: The unique identifier of the latest comment.
          type: string
        pending_at:
          description: The timestamp when the approval status is change to pending.
          type: string
          format: date-time
        revoking:
          description: The revoke status.
          type: boolean
        route_ids:
          description: The route ids.
          type: array
          items:
            type: string
        route_names:
          description: The route names.
          type: array
          items:
            type: string
        status_cache:
          description: The numeric value representing the current approval status.
          type: number
        updated_at:
          description: The timestamp when the approval is updated.
          type: string
          format: date-time
        updater_id:
          description: The user id of last approval updater.
          type: string

    ApprovalPayload:
      type: object
      properties:
        approver_id:
          description: The unique identifier of the approver.
          type: string

    BudgetsOrganization:
      type: array
      items:
        type: object
        properties:
          base_currency:
            description: e.g., "USD" or "EUR". If no currency is given, your account's base currency will be used.
            type: string
          capital_base_currency_spend:
            description: Budget CAPITAL Base Currency amounts per Fiscal Month 1-12.
            type: object
            properties: 
              "1":
                description: The number representation for January.
                type: string
                example: "3628765.62"
              "2":
                description: The number representation for February.
                type: string
                example: "3628765.62"
              "3":
                description: The number representation for March.
                type: string
                example: "3628765.62"
              "4":
                description: The number representation for April.
                type: string
                example: "3628765.62"
              "5":
                description: The number representation for May.
                type: string
                example: "3628765.62"
              "6":
                description: The number representation for June.
                type: string
                example: "3628765.62"
              "7":
                description: The number representation for July.
                type: string
                example: "3628765.62"
              "8":
                description: The number representation for August.
                type: string
                example: "3628765.62"
              "9":
                description: The number representation for September.
                type: string
                example: "3628765.62"
              "10":
                description: The number representation for October.
                type: string
                example: "3628765.62"
              "11":
                description: The number representation for November.
                type: string
                example: "3628765.62"
              "12":
                description: The number representation for December.
                type: string
                example: "3628765.62"
          capital_org_currency_spend:
            description: Budget CAPITAL Org Currency amounts per Fiscal Month 1-12.
            type: object
            properties: 
              "1":
                description: The number representation for January.
                type: string
                example: "3628765.62"
              "2":
                description: The number representation for February.
                type: string
                example: "3628765.62"
              "3":
                description: The number representation for March.
                type: string
                example: "3628765.62"
              "4":
                description: The number representation for April.
                type: string
                example: "3628765.62"
              "5":
                description: The number representation for May.
                type: string
                example: "3628765.62"
              "6":
                description: The number representation for June.
                type: string
                example: "3628765.62"
              "7":
                description: The number representation for July.
                type: string
                example: "3628765.62"
              "8":
                description: The number representation for August.
                type: string
                example: "3628765.62"
              "9":
                description: The number representation for September.
                type: string
                example: "3628765.62"
              "10":
                description: The number representation for October.
                type: string
                example: "3628765.62"
              "11":
                description: The number representation for November.
                type: string
                example: "3628765.62"
              "12":
                description: The number representation for December.
                type: string
                example: "3628765.62"
          expense_base_currency_spend:
            description: Budget EXPENSE Base Currency amounts per Fiscal Month 1-12.
            type: object
            properties: 
              "1":
                description: The number representation for January.
                type: string
                example: "3628765.62"
              "2":
                description: The number representation for February.
                type: string
                example: "3628765.62"
              "3":
                description: The number representation for March.
                type: string
                example: "3628765.62"
              "4":
                description: The number representation for April.
                type: string
                example: "3628765.62"
              "5":
                description: The number representation for May.
                type: string
                example: "3628765.62"
              "6":
                description: The number representation for June.
                type: string
                example: "3628765.62"
              "7":
                description: The number representation for July.
                type: string
                example: "3628765.62"
              "8":
                description: The number representation for August.
                type: string
                example: "3628765.62"
              "9":
                description: The number representation for September.
                type: string
                example: "3628765.62"
              "10":
                description: The number representation for October.
                type: string
                example: "3628765.62"
              "11":
                description: The number representation for November.
                type: string
                example: "3628765.62"
              "12":
                description: The number representation for December.
                type: string
                example: "3628765.62"
          expense_org_currency_spend:
            description: Budget EXPENSE Org Currency amounts per Fiscal Month 1-12.
            type: object
            properties: 
              "1":
                description: The number representation for January.
                type: string
                example: "3628765.62"
              "2":
                description: The number representation for February.
                type: string
                example: "3628765.62"
              "3":
                description: The number representation for March.
                type: string
                example: "3628765.62"
              "4":
                description: The number representation for April.
                type: string
                example: "3628765.62"
              "5":
                description: The number representation for May.
                type: string
                example: "3628765.62"
              "6":
                description: The number representation for June.
                type: string
                example: "3628765.62"
              "7":
                description: The number representation for July.
                type: string
                example: "3628765.62"
              "8":
                description: The number representation for August.
                type: string
                example: "3628765.62"
              "9":
                description: The number representation for September.
                type: string
                example: "3628765.62"
              "10":
                description: The number representation for October.
                type: string
                example: "3628765.62"
              "11":
                description: The number representation for November.
                type: string
                example: "3628765.62"
              "12":
                description: The number representation for December.
                type: string
                example: "3628765.62"
          fiscal_year:
            description: The fiscal year.
            type: number
          total_base_currency_spend:
            description: Budget TOTAL Base Currency amounts per Fiscal Month 1-12.
            type: object
            properties: 
              "1":
                description: The number representation for January.
                type: string
                example: "3628765.62"
              "2":
                description: The number representation for February.
                type: string
                example: "3628765.62"
              "3":
                description: The number representation for March.
                type: string
                example: "3628765.62"
              "4":
                description: The number representation for April.
                type: string
                example: "3628765.62"
              "5":
                description: The number representation for May.
                type: string
                example: "3628765.62"
              "6":
                description: The number representation for June.
                type: string
                example: "3628765.62"
              "7":
                description: The number representation for July.
                type: string
                example: "3628765.62"
              "8":
                description: The number representation for August.
                type: string
                example: "3628765.62"
              "9":
                description: The number representation for September.
                type: string
                example: "3628765.62"
              "10":
                description: The number representation for October.
                type: string
                example: "3628765.62"
              "11":
                description: The number representation for November.
                type: string
                example: "3628765.62"
              "12":
                description: The number representation for December.
                type: string
                example: "3628765.62"
          total_org_currency_spend:
            description: Budget TOTAL Org Currency amounts per Fiscal Month 1-12.
            type: object
            properties: 
              "1":
                description: The number representation for January.
                type: string
                example: "3628765.62"
              "2":
                description: The number representation for February.
                type: string
                example: "3628765.62"
              "3":
                description: The number representation for March.
                type: string
                example: "3628765.62"
              "4":
                description: The number representation for April.
                type: string
                example: "3628765.62"
              "5":
                description: The number representation for May.
                type: string
                example: "3628765.62"
              "6":
                description: The number representation for June.
                type: string
                example: "3628765.62"
              "7":
                description: The number representation for July.
                type: string
                example: "3628765.62"
              "8":
                description: The number representation for August.
                type: string
                example: "3628765.62"
              "9":
                description: The number representation for September.
                type: string
                example: "3628765.62"
              "10":
                description: The number representation for October.
                type: string
                example: "3628765.62"
              "11":
                description: The number representation for November.
                type: string
                example: "3628765.62"
              "12":
                description: The number representation for December.
                type: string
                example: "3628765.62"
          organization_code:
            description: The unique code of the Organization.
            type: string
          org_currency:
            description: e.g., "USD" or "EUR". If no currency is given, your account's base currency will be used.
            type: string
          organization_name:
            description: The name of the Organization.
            type: string

    BudgetsInvestment:
      type: array
      items:
        type: object
        properties:
          base_currency:
            description: e.g., "USD" or "EUR". If no currency is given, your account's base currency will be used.
            type: string
          category:
            description: The Investment category.
            type: string
          capital_base_currency_spend:
            description: Budget CAPITAL Base Currency amounts per Fiscal Month 1-12.
            type: object
            properties: 
              "1":
                description: The number representation for January.
                type: string
                example: "3628765.62"
              "2":
                description: The number representation for February.
                type: string
                example: "3628765.62"
              "3":
                description: The number representation for March.
                type: string
                example: "3628765.62"
              "4":
                description: The number representation for April.
                type: string
                example: "3628765.62"
              "5":
                description: The number representation for May.
                type: string
                example: "3628765.62"
              "6":
                description: The number representation for June.
                type: string
                example: "3628765.62"
              "7":
                description: The number representation for July.
                type: string
                example: "3628765.62"
              "8":
                description: The number representation for August.
                type: string
                example: "3628765.62"
              "9":
                description: The number representation for September.
                type: string
                example: "3628765.62"
              "10":
                description: The number representation for October.
                type: string
                example: "3628765.62"
              "11":
                description: The number representation for November.
                type: string
                example: "3628765.62"
              "12":
                description: The number representation for December.
                type: string
                example: "3628765.62"
          capital_org_currency_spend:
            description: Budget CAPITAL Org Currency amounts per Fiscal Month 1-12.
            type: object
            properties: 
              "1":
                description: The number representation for January.
                type: string
                example: "3628765.62"
              "2":
                description: The number representation for February.
                type: string
                example: "3628765.62"
              "3":
                description: The number representation for March.
                type: string
                example: "3628765.62"
              "4":
                description: The number representation for April.
                type: string
                example: "3628765.62"
              "5":
                description: The number representation for May.
                type: string
                example: "3628765.62"
              "6":
                description: The number representation for June.
                type: string
                example: "3628765.62"
              "7":
                description: The number representation for July.
                type: string
                example: "3628765.62"
              "8":
                description: The number representation for August.
                type: string
                example: "3628765.62"
              "9":
                description: The number representation for September.
                type: string
                example: "3628765.62"
              "10":
                description: The number representation for October.
                type: string
                example: "3628765.62"
              "11":
                description: The number representation for November.
                type: string
                example: "3628765.62"
              "12":
                description: The number representation for December.
                type: string
                example: "3628765.62"
          expense_base_currency_spend:
            description: Budget EXPENSE Base Currency amounts per Fiscal Month 1-12.
            type: object
            properties: 
              "1":
                description: The number representation for January.
                type: string
                example: "3628765.62"
              "2":
                description: The number representation for February.
                type: string
                example: "3628765.62"
              "3":
                description: The number representation for March.
                type: string
                example: "3628765.62"
              "4":
                description: The number representation for April.
                type: string
                example: "3628765.62"
              "5":
                description: The number representation for May.
                type: string
                example: "3628765.62"
              "6":
                description: The number representation for June.
                type: string
                example: "3628765.62"
              "7":
                description: The number representation for July.
                type: string
                example: "3628765.62"
              "8":
                description: The number representation for August.
                type: string
                example: "3628765.62"
              "9":
                description: The number representation for September.
                type: string
                example: "3628765.62"
              "10":
                description: The number representation for October.
                type: string
                example: "3628765.62"
              "11":
                description: The number representation for November.
                type: string
                example: "3628765.62"
              "12":
                description: The number representation for December.
                type: string
                example: "3628765.62"
          expense_org_currency_spend:
            description: Budget EXPENSE Org Currency amounts per Fiscal Month 1-12.
            type: object
            properties: 
              "1":
                description: The number representation for January.
                type: string
                example: "3628765.62"
              "2":
                description: The number representation for February.
                type: string
                example: "3628765.62"
              "3":
                description: The number representation for March.
                type: string
                example: "3628765.62"
              "4":
                description: The number representation for April.
                type: string
                example: "3628765.62"
              "5":
                description: The number representation for May.
                type: string
                example: "3628765.62"
              "6":
                description: The number representation for June.
                type: string
                example: "3628765.62"
              "7":
                description: The number representation for July.
                type: string
                example: "3628765.62"
              "8":
                description: The number representation for August.
                type: string
                example: "3628765.62"
              "9":
                description: The number representation for September.
                type: string
                example: "3628765.62"
              "10":
                description: The number representation for October.
                type: string
                example: "3628765.62"
              "11":
                description: The number representation for November.
                type: string
                example: "3628765.62"
              "12":
                description: The number representation for December.
                type: string
                example: "3628765.62"
          fiscal_year:
            description: This is the fiscal year in which the investment is budgeted.
            type: number
          investment_id:
            description: The Investment ID code.
            type: string
          name:
            description: The name of the Investment.
            type: string
          organization_code:
            description: The Organization code.
            type: string
          org_currency:
            description: e.g., "USD" or "EUR". If no currency is given, your account's base currency will be used.
            type: string
          organization_name:
            description: The Name of the Organization.
            type: string
          total_base_currency_spend:
            description: Budget TOTAL Base Currency amounts per Fiscal Month 1-12.
            type: object
            properties: 
              "1":
                description: The number representation for January.
                type: string
                example: "3628765.62"
              "2":
                description: The number representation for February.
                type: string
                example: "3628765.62"
              "3":
                description: The number representation for March.
                type: string
                example: "3628765.62"
              "4":
                description: The number representation for April.
                type: string
                example: "3628765.62"
              "5":
                description: The number representation for May.
                type: string
                example: "3628765.62"
              "6":
                description: The number representation for June.
                type: string
                example: "3628765.62"
              "7":
                description: The number representation for July.
                type: string
                example: "3628765.62"
              "8":
                description: The number representation for August.
                type: string
                example: "3628765.62"
              "9":
                description: The number representation for September.
                type: string
                example: "3628765.62"
              "10":
                description: The number representation for October.
                type: string
                example: "3628765.62"
              "11":
                description: The number representation for November.
                type: string
                example: "3628765.62"
              "12":
                description: The number representation for December.
                type: string
                example: "3628765.62"
          total_org_currency_spend:
            description: Budget TOTAL Org Currency amounts per Fiscal Month 1-12.
            type: object
            properties: 
              "1":
                description: The number representation for January.
                type: string
                example: "3628765.62"
              "2":
                description: The number representation for February.
                type: string
                example: "3628765.62"
              "3":
                description: The number representation for March.
                type: string
                example: "3628765.62"
              "4":
                description: The number representation for April.
                type: string
                example: "3628765.62"
              "5":
                description: The number representation for May.
                type: string
                example: "3628765.62"
              "6":
                description: The number representation for June.
                type: string
                example: "3628765.62"
              "7":
                description: The number representation for July.
                type: string
                example: "3628765.62"
              "8":
                description: The number representation for August.
                type: string
                example: "3628765.62"
              "9":
                description: The number representation for September.
                type: string
                example: "3628765.62"
              "10":
                description: The number representation for October.
                type: string
                example: "3628765.62"
              "11":
                description: The number representation for November.
                type: string
                example: "3628765.62"
              "12":
                description: The number representation for December.
                type: string
                example: "3628765.62"

    CostCategory:
      type: object
      properties:
        category_code:
          description: The category shortcode.
          type: string
        id:
          description: Cost Category ID.
          type: string
        name:
          description: The name of the Cost Category.
          type: string

    CostCategoryPostPut:
      type: object
      properties:
        category_code:
          description: The category shortcode.
          type: string
        name:
          description: The name of the Cost Category.
          type: string
        parent_name:
          description: If there is no category with the given name, a new category will be created.
          type: string
      required:
        - name

    CostPostPut:
      type: object
      properties:
        account:
          description: Must be the Name of an account that already exists in your Finario application.
          type: string
        apply_tax:
          description: Send value yes if tax should be applied.
          type: string
        cost_category:
          description: Must be the name of a Cost Category that already exists in your Finario application.
          type: string
        expected_units:
          description: |
            An array of Expected Unit objects, e.g. [{"quantity": 1, "project_month": "M3"}].
            
            If more than one `expected_unit` object is passed in, only the first in the array will be used.
          type: array
          items:
            properties:
              project_month:
                type: string
                description: This should be the project month of the investment the cost occurs in. For example, if the investment has a start_date of January 2016, and the cost falls in February 2016, the project_month is "M2"; February 2017 is "M14".
              quantity:
                type: number
                description: The number of units for the month.
            type: object
        freight:
          description: The freight cost.
          properties:
            currency:
              type: string
              description: For example "USD" or "EUR".
            dollars:
              description: The amount of the unit of currency (not only dollars).
              type: number
          type: object
        name:
          description: The name of the cost.
          type: string
        unit_price:
          description: An object representing the cost price.
          properties:
            currency:
              description: For example "USD" or "EUR".
              type: string
            dollars:
              description: The amount of the unit of currency (not only dollars).
              type: number
          type: object
        vendor_name:
          description: Must be the Name of a vendor that already exists in your Finario application.
          type: string
      required:
        - name
        - account
        - expected_units

    Costs:
      type: object
      properties:
        account_code:
          description: The account code for the Cost.
          type: string
        account_id:
          description: The account id for the Cost.
          type: string
        account_name:
          description: The account name for the Cost.
          type: string
        actual_spends:
          description: |
            The actual spend for the Cost.
            
            Each item is represented as an array of mixed-type:  
            
              ```json 
              [
                {
                  "cents": 1933,    // The cents equivalent value.
                  "currency": "USD" // The ISO currency code.
                },
                [
                  2022,             // The year.
                  1                 // The month.
                ]
              ]
          type: array
          items:
            type: array
            items: {}
        approved:
          description: The approved status for the Cost.
          type: boolean
        approved_spends:
          description: |
            The approved spend for the Cost.
            
            Each item is represented as an array of mixed-type:  
            
              ```json 
              [
                {
                  "cents": 1933,    // The cents equivalent value.
                  "currency": "USD" // The ISO currency code.
                },
                [
                  2022,             // The year.
                  1                 // The month.
                ]
              ]
          type: array
          items:
            type: array
            items: {}
        auto_forecast:
          description: The flag for auto forecasting.
          type: boolean
        base_approved_total:
          description: The base approved total for the Cost.
          type: object
          properties:
            cents:
              description: The cents equivalent value for the base approved total.
              type: number
            currency:
              description: The currency for the base approved total.
              type: string
        base_forecast_total:
          description: The base forcast total for the Cost.
[...]
